# Directories
.vs/
bin/
bin-int/
Dummy/models/
packages/
Tests/

# SpatialTest project
SpatialTest/models/
SpatialTest/sounds/
SpatialTest/textures/
SpatialTest/maps/test.txt
SpatialTest/imgui.ini

# Files
*.user
*.exe